/* trick for navbar fixed-top*/
body::before {
  content: "";
  display: block;
  height: 60px;
}

/* Navbar Brand customize*/
.navbar-dark .navbar-brand {
  color: #6f42c1;
  font-weight: 800;
}
.navbar-dark .navbar-brand:hover {
  color: #198754;
}

/* Modal customize*/
.form-control:focus {
  box-shadow: 0px 2px 15px #198754;
  background-color: #dcfff0;
}
.btn-close:focus {
  box-shadow: 0px 2px 15px #198754;
}

/* accordion customize*/
.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #198754;
}
.accordion-button:not(.collapsed)::after {
  background-image: url(./img/chevronDown.svg);
}

.accordion-button:focus {
  box-shadow: 0 2px 15px #198754;
}

/* MapBox md breakpoint Position*/
@media (max-width: 768px) {
  .mapboxgl-canvas {
    position: unset;
  }
}
